@charset "utf-8";

/*  */
html{
  width:100%;
  background-color: lightcyan;

}
nav.horizontal {
    display: table;
    width: 100%;
}

nav.horizontal ul {
    display: table-row;
}

nav.horizontal ul li {
    display: table-cell;
    padding: 20px;
  background-color: lightblue;
}

nav.horizontal a {
    padding: 5px;
    width: 100%;
}

body{
  width: 100%;
    background: url(me_photo.png);

}
